@import url("layout.css");

body{font-family: Verdana, Arial, sans-serif;}
a img{border: 0;}
a{text-decoration: none;}
a:hover {text-decoration: underline;}
h1{margin: 0px;} 
h2{font-size: 1.3em;}

#logo-localization{
  font-size: 10pt;
  font-weight: bold;
  color: black;
}

ul#breadcrumbs{
  padding: 0;
  font-weight: bold;
  font-size: 1.1em;
  margin: 0.75em 0;
}

ul#breadcrumbs li{
  display: inline;
}

#tab-container{
  margin-top: 1em;
}

li.ui-tabs-nav-item a{
  font-weight: bold;
}
 
.form-row{
  clear: both;
  margin: 4px 0;
  padding: 4px 0;
}

.form-row label,div.label{
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  float: left;
  width: 150px;
  padding-right: 0.75em;
}

.form-row input[type=text]{
  margin-right: 3px;
  width: 15em;
}

.form-row .input-links{
  margin-left: 0.5em;
}

.form-row a.input-link{
  font-size: 0.8em;
  color: blue;
}

.form-row a.input-link:visited{
  color: purple;
}

.form-row-checkbox{
  padding-top: 0;
  margin-top: 0;
}

/* change the width of the following
 * to adjust the Libraries tab in the
 * database area of the admin interface */

ul.checkbox_list li{
  clear: both;
  width: 20em;
  padding: 0.5em 0;
}

ul.checkbox_list li span input{
  float: left;
}

ul.checkbox_list li span label{
  font-weight: normal;
  padding-left: 0.5em;
  width: auto;
}

ul.checkbox_list li a.input-link{
  float: right;
  margin-left: 0.75em;
  color: blue;
}

ul.checkbox_list li a.input-link:visited{
  color: purple;
}

table#ip-table{
  border-collapse: collapse;
  font-size: 0.9em;
  margin: 0 0 1.25em;
}

table#ip-table tbody{
  border-top:1px solid #DDDDDD;
  border-bottom:1px solid #DDDDDD;
}

table#ip-table thead tr th{
  padding: 0.5em;
}

table#ip-table tbody tr td{
  padding: 0.5em;
  border-left:1px solid #DDDDDD;
  border-right:1px solid #DDDDDD;
}

ul.checkbox_list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.checkbox_list li label{
  font-size: 0.9em;
}

ul.checkbox_list a.input-link{
  font-size: 0.8em;
  margin-left: 0.5em;
}

table.index-table{
  border-collapse: collapse;
  margin-left: 3px;
  font-size: 0.9em;
  margin: 0.5em 0;
}

table.index-table tbody tr td{
  border-left:1px solid #DDDDDD;
  border-right:1px solid #DDDDDD;
  padding: 0.5em;
}

table.index-table thead tr th{
  border-left:1px solid #B2C7D7;
  border-right:1px solid #B2C7D7;
  padding: 0.5em;
}

ul.database-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

ul.database-list li{
  padding: 0.25em 0;
  margin: 0;
}

.ui-state-error{
  font-size: 0.8em;
  line-height: 1.4em;
  width: auto;
  width: 18em;
  margin: 0 0 1em;
  padding: 0 0.5em;
}

.ui-icon{
  float: left;
  margin-right: 0.3em;
}

form#login-form div{
  clear:both;
  padding:0.25em 0;
}

form#login-form label{
  font-size:0.9em;
  float:left;
  width:6em;
}

.pager{
  margin: 1em 0;
}

#user-url{
  margin: 0.5em 0 1em;
  font-size: 0.9em;
}

#organization-form fieldset{
  clear: both;
  border: 0;
  margin: 0;
  padding: 0;
}

#sf_admin_container
{
  border: 1px solid #B2C7D7;
}

html
{
  background-color: #FFFFFF;
}