$border: 1px solid #aaa

html
  background-color: #fff

.clear
  clear: both

#sf_admin_bar
  float: left
  margin-left: 0
  margin-right: 20px

.sf_admin_filter > form > table
  background-color: #eee

#sf_admin_container .sf_admin_form_row
  border-bottom: $border

#sf_admin_container fieldset
  border-color: #aaa

#sf_admin_form_field_DatabaseSubject > div > div > table
  margin-bottom: 0

  > tbody > tr
    border-left: 0 !important
    border-right: 0 !important

    > th
      display: none

    > td
      padding: 0
      border-width: 0 !important

    table th
      width: 16em

    table td input
      width: 3em !important

