/*layout style sheet */

#container{
  position: relative;
  margin: 0 auto 20px auto;
  text-align: left;
  width: 95%;
  min-height: 470px;
}

#footer{
  clear: both;
  padding-top: 1em;
  text-align: center;
  padding: 1em;
  font-size: 0.8em;
}

#footer p {
  margin: 0;
}

#header{
  position: relative; 
  height: 70px; 
  width: 100%;
  border-bottom:1px solid #B2C7D7;
} 

#content{
  float: right; 
  position: relative; 
  width: 82%;  
  padding-left: 2px;
  overflow: hidden; /*fix for IE*/
}

#nav{
  width: 15%; 
  float: left;
  position: relative; 
}

ul.nav-links{
  list-style: none;
  padding: 0;
  margin: 0.75em 0 0;
  font-size: 0.9em;
}

ul.nav-links li{
  padding: 0.2em 0;
}