$border: 1px solid #aaa

html
  background-color: #fff

header
  margin: 0 0 0.6em

  .logout-link
    float: right

  nav.links
    padding: 0 0 1.4em

    ul
      margin: 0
      padding: 0

    li
      margin: 0
      padding: 0 0.4em
      list-style: none
      float: left
      border-right: 1px solid #000

    li:last-child
      border: none

.clear
  clear: both

form[action$='guard/login']
  th, tfoot td
    text-align: left
    padding: 0.5em 0.5em 0.5em 0

  th, td
    border: 0

#sf_admin_bar
  margin-left: 0
  margin-right: 20px

.sf_admin_filter > form > table
  background-color: #eee

#sf_admin_container
  padding: 0.4em 0.8em

  fieldset
    border-color: #aaa

.sf_admin_form_row
  border-bottom: $border

  > div
    height: 1%
    overflow: hidden

  #library_database_list
    margin: 0 0 0 0

    li
      list-style: none
      padding: 0.2em 0

.label
  display: inline-block
  float: left
  width: 4em

#sf_admin_container h1
  margin: 0
  padding: 0

.user-url
  margin: 0 0 1em
  font-size: 1.2em

.featured-help
  margin: 1em 0 1.6em

.ui-icon
  float: left

.ui-icon-arrowthick-2-n-s
  padding: 0 0.2em 0.2em 0
  margin: 0 0.4em 0 0

.ui-spinner
  display: none
  background-image: url(../images/spinner.gif) !important
  background-repeat: no-repeat
  float: right

