form#login-form{
  margin-top: 1em;
}

form#login-form div{
  clear:both;
  padding:0.25em 0;
}

form#login-form label{
  float:left;
  width:6em;
}

ul.nav-links{
  float: right;
  list-style: none;
  padding: 0;
  margin: 0 1em 0 0;
}

ul.nav-links li{
  padding: 0;
  margin: 0;
}

#note-new{
  margin: 2em 0;
}

#touro-content{
  clear: both;
}

.database-index-intro{
  border-bottom: 2px solid gray;
}

.description-short{
  display: none;
}
