.form-signin{
  margin-top: 1em;
  clear:both;
  padding:0.25em 0;
}

.form-signin table{
  margin-bottom: 0.6em;
}

.form-signin tbody, .form-signin tbody th{
  border: none;
}

.form-signin th{
  width:9em;
}

.form-signin th, .form-signin td{
  padding: 0.4em 0.2em;
}

ul.nav-links{
  float: right;
  list-style: none;
  padding: 0;
  margin: 0 1em 0 0;
}

ul.nav-links li{
  padding: 0;
  margin: 0;
}

#note-new{
  margin: 2em 0;
}

#touro-content{
  clear: both;
}

.databases-list{
  margin-left: 1.5em;
}

.databases-list li{
  list-style: none;
}

.database-index-intro{
  border-bottom: 2px solid gray;
}

.description-text{
  display: none;
  z-index: 25;
  background: #fff;
  position: absolute;
  border: 1px solid #000;
  padding: 0.4em 0.8em;
  width: 30em;
}

.description-container:hover .description-text{
  display: block;
}

.description-icon{
  margin: 0 0 0 0.2em;
  position: relative;
  top: 2px;
}

.product-note{
  margin: 0.2em 0 1.2em;
  font-style: italic;
}
