{% extends 'YitznewtonFreermsBundle:Admin:base.html.twig' %}

{% block title %}IP Ranges{% endblock %}

{% block body %}
<h2>IP Ranges</h2>

<ul>
    {% for ipRange in ipRanges %}
        <li>{{ ipRange.startIp }}</li>
    {% endfor %}
</ul>
{% endblock %}

